<div class="row center-align btn-row"><a class="waves-effect waves-light btn col s3 offset-s6">Save to Favorites</a></div>
      <div class="row">
        <div class="col s4 black-text info">
          <div class="row">
            <h5 id="country"><strong>Country:</strong> </h5>
          </div>
          <div class="row map">

          </div>
          <div class="row">
            <h5 id="language"><strong>Spoken language:</strong> </h5>
          </div>
          <div class="row">
            <h5 id="currency"><strong>Currency:</strong> </h5>
          </div>
          <div class="row">
            <h5 id="neighbors"><strong>Neighboring Countries:</strong> </h5>
          </div>
          <div class="row table">
            <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Month</th>
              <th data-field="name">Average Temperature</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>January</td>
            <td id="jan"></td>
          </tr>
          <tr>
            <td>February</td>
            <td id="feb"></td>
          </tr>
          <tr>
            <td>March</td>
            <td id="mar"></td>
          </tr>
          <tr>
            <td>April</td>
            <td id="apr"></td>
          </tr>
          <tr>
            <td>May</td>
            <td id="may"></td>
          </tr>
          <tr>
            <td>June</td>
            <td id="jun"></td>
          </tr>
          <tr>
            <td>July</td>
            <td id="jul"></td>
          </tr>
          <tr>
            <td>August</td>
            <td id="aug"></td>
          </tr>
          <tr>
            <td>September</td>
            <td id="sep"></td>
          </tr>
          <tr>
            <td>October</td>
            <td id="oct"></td>
          </tr>
          <tr>
            <td>November</td>
            <td id="nov"></td>
          </tr>
          <tr>
            <td>December</td>
            <td id="dec"></td>
          </tr>
        </tbody>
      </table>
          </div>
        </div>
        <div class="col s7 images">
          <div class="row">
            <div class="col s12">
              <ul class="collection">
                <li class="collection-item description z-depth-5"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
