<div class="parallax-container">
      <div parallax><img src="./images/halongBay.jpg" alt="Halong bay China"></div>
    </div>
    <div class="section white z-depth-5">
      <div class="row container">
        <h2 class="header">Wanderlust</h2>
        <p class="grey-text text-darken-3 lighten-3">Wanderlust: A deep uncontrollable desire to hit the road and travel, by whatever means desired, to explore and enjoy the world.</p>
      </div>
      <div class="row container">
        <h4 class="light">Start Collecting Today</h4>
      </div>

      <div class="row container">  <!-- Modal Trigger -->
        <button class="waves-effect waves-light btn modal-trigger center" data-target="modal1" modal>Login/Register</button>

        <form id="signUpForm" ng-controller="SignInCtrl as signIn">
          <div id="modal1" class="modal z-depth-5">
              <div class="modal-content">
                <h4>Login or Register</h4>
                <div class="row">
                    <div class="row modal-form-row">
                      <div class="input-field col s12">
                        <input id="email" type="email" class="validate" ng-model="signIn.email">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="password" type="password" class="validate" ng-model="signIn.password">
                        <label for="password" data-error="wrong" data-success="right">Password</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                      </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer card-action">
              <button id="register" ng-click="signIn.register(signIn.email, signIn.password)" class="modal-action waves-effect waves-teal darken-3 btn-flat center waves-effect waves-light btn-large" type="submit" name="action">
                Register
              </button>
              <button id="logIn" ng-click="signIn.signIn(signIn.email, signIn.password)" class="modal-action waves-effect waves-teal darken-3 btn-flat center waves-effect waves-light btn-large" type="submit" name="action">
                Log in
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="parallax-container">
      <div parallax><img src="http://cdn.wallpapersafari.com/12/62/yfCSk2.jpg" alt="Image of Dubai Skyline"></div>
    </div>
