<div class="row topRow"></div>
    <div id="container">
        <div id="search-row" class="row valign-wrapper pad">
          <div class="col s4 offset-s1">
            <label for="Country">
              <input
                id="Country"
                type="text"
                class="autocomplete row country"
                placeholder="Explore a Country..."/>
            </label>
          </div>

          <div id="btn" class="col s4 searchButton">
            <button class="waves-effect waves-light countrybtn btn" type="submit">Search</button>
          </div>
          <div class="col s4 offset-s1">
            <label for="City">
              <input
              id="City"
                type="text"
                class="row city"
                name="location"
                placeholder="Explore a City...."/>
            </label>
          </div>
          <div id="citybtn" class="col s4">
            <button class="waves-effect waves-light citybtn btn" type="submit">Search</button>
          </div>

        </div>

    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col s12 m12 l6 offset-by-l1">
        <div id="map">
        </div>
      </div>

      <div  id="images" class="section white z-depth-5 col s12 m12 l6 offset-s">
        <h3>My Dream Destinations</h3>
      </div>
    </div>
